<a href="https://colab.research.google.com/github/chefhaider/razanlytics/blob/main/tweet_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)

In [11]:
from pyarrow import csv

In [4]:
import pandas as pd

In [ ]:
import os

os.environ['KAGGLE_USERNAME'] = "move78"
os.environ['KAGGLE_KEY'] = "51b2df54d6826a7b140f6335252c1fcd"

In [ ]:
!kaggle datasets download -d alaix14/bitcoin-tweets-20160101-to-20190329 -p /content/drive/MyDrive/fyp/

Downloading bitcoin-tweets-20160101-to-20190329.zip to /content/drive/MyDrive/fyp
100% 1.58G/1.58G [00:56<00:00, 37.9MB/s]
100% 1.58G/1.58G [00:56<00:00, 30.1MB/s]

2021-02-05 10:52:04 - 2021-10-29 23:59:56

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/fyp/bitcoin-tweets.csv')

In [ ]:
df = df.drop((list(df.loc[df['is_retweet'].isna() & df['source'].isna() & df['hashtags'].notna()].index))).reset_index()
df[df['user_location'].notna() & df['user_location'].str.contains('^20..-',regex = True)].count()

In [ ]:
!unzip '/content/drive/MyDrive/fyp/bitcoin-tweets-20160101-to-20190329.zip' -d '/content/drive/MyDrive/fyp/'

Archive:  /content/drive/MyDrive/fyp/bitcoin-tweets-20160101-to-20190329.zip
  inflating: /content/drive/MyDrive/fyp/tweets.csv

In [12]:
table = csv.read_csv('/content/drive/MyDrive/fyp/bitcoin-tweets-2016-2019.csv')

ArrowInvalid: ignored

In [13]:
df = pd.read_csv('/content/drive/MyDrive/fyp/bitcoin-tweets-2016-2019.csv', sep=';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
df.count()

id           20001173
user         18810520
fullname     18809942
url           4588546
timestamp    18810521
replies      18810521
likes        18810521
retweets     18810521
text         18809800
dtype: int64

In [22]:
df.loc[df['text'].isna()]

                                                         id user  ... retweets text
2197153                                ÊúÄËøë„ÄÅÂÖÉÊ∞ó„Åå„Å™„ÅÑ„ÅÆ„Åß„ÄÅ„Å°„Å®ÂøÉÈÖç„ÅÑ„Åü„ÅóÂÄô„ÄÇ  NaN  ...      NaN  NaN
2197154                                          Âæ©Ê¥ª„ÇíÂàá„Å´Êúõ„Åø„ÅóÂÄô„ÄÇ  NaN  ...      NaN  NaN
2197155                                             ÈÅãÁî®108Êó•ÁõÆ  NaN  ...      NaN  NaN
2197156                                            ÈÖçÂΩì 1.00ÔºÖ  NaN  ...      NaN  NaN
2197157                                         ÂõûÂèéÁéá 151.26%  NaN  ...      NaN  NaN
...                                                     ...  ...  ...      ...  ...
19956031      Join and stay tuned üëáhttps://t.co/BUDEv1EWYb   NaN  ...      NaN  NaN
19956032             1 BTC to 10 randomly selected voters!   NaN  ...      NaN  NaN
19956033  #halo #haloplatform #free https://t.co/7mzIIedwZ7  NaN  ...      NaN  NaN
20062116                             by Clark Street Press   NaN  ...      NaN  NaN
20062117    https://t.co/LfWcM2Ljbb https://t.co/lrdNkrdKta  NaN  ...      NaN  NaN

[1355213 rows x 9 columns]